{% extends 'base.html.twig' %}

{% block body %}
    <h1>Comments</h1>

    <table>
        <thead>
            
        </thead>
        <tbody>
        {% for comment in comments %}
            <tr>
                <td>{{ comment.user }}</td>
                <td>{{ comment.comment }}</td>
                <td>{% if comment.createdAt %}{{ comment.createdAt|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
